body {
  background: #ddd;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background: #ccc;
  background: url("../assets/NPA02.jpg") no-repeat center center;
  background-size: cover;
  box-shadow: inset 0 0 100vw 100vw rgba(0, 0, 0, 0.3), 0 16px 8px -8px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
  display: flex;
  overflow-x: scroll;
  align-items: flex-end;
}

/*CARD*/
.card__btn {
  color: #fff;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 24px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 176px;
  margin: -10px 0 10px;
  opacity: 0.5;
  padding: 16px;
}

.card__text-sm {
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 32px 0 16px;
  position: relative;
}

.card__text-sm::before {
  content: "";
  background: #fff;
  height: 3px;
  width: 32px;
  position: absolute;
  top: 0;
}

.card__text-lg {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  width: 100%;
  margin: 0;
}

/*...large...*/
.card-lg__container {
  padding: 0 32px 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-lg__container .card__text-lg {
  font-family: "Oswald", sans-serif;
  font-size: 120px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 125px;
}
.card-lg__container .card__text-md {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  padding: 0 32px 20px 0;
  opacity: 0.5;
}
.card-lg__container .card__text-sm {
  font-size: 28px;
}
.card-lg__container .card__text-sm::before {
  width: 48px;
  height: 4px;
}

/*...small...*/
.card-sm__container {
  height: 550px;
  margin: 0 0 100px 100px;
  display: flex;
  
}

.card-sm {
  background: #ccc;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 100vw 100vw rgba(0, 0, 0, 0.3), 0 16px 8px -8px rgba(0, 0, 0, 0.4);
  border-radius: 24px;
  width: 300px;
  height: calc(100% - 64px);
  margin: 0 10px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.3s ease;
}
.card-sm:hover {
  margin: -10px 10px 0;
}
.card-sm .card__text-sm {
  opacity: 0.8;
}

/*HIDE DEFAULT SCROLL BAR*/
.main::-webkit-scrollbar {
  display: none;
}

.main {
  -ms-overflow-style: none;
}