#canvas {
    height: 84vh;
    max-width: 1024px;
}

#tab {
    margin-top: 16px;
}

.display-4 {
    font-size: 3.0rem !important;
}

#submit {
    width: 100%;
}

#file-preview {
    width: 75%;
    max-width: 300px;
    display: none;
}

.hidden {
    display: none !important;
}

.header {
    margin-bottom: 40px;
    padding: 0px !important;
}

.download {
    display: block;
    margin: 16px auto;
    width: fit-content;
}

.center-child {
    text-align: center;
    background-color: rgba(172, 172, 172, 0.8);
    padding-top: 16px;
    border-radius: 16px;
}

html {
    height: 100%;
}

body {
    background: url("../assets/NPA02.jpg") no-repeat center center;
    background-size: cover;
    box-shadow: inset 0 0 100vw 100vw rgba(0, 0, 0, 0.3), 0 16px 8px -8px rgba(0, 0, 0, 0.4);
    height: 100%;
}

body .container-fluid {
    height: 100%;
}

.container-fluid .row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-layer {
    display: block;
    margin: 0 auto;
    transform: 0.2s ease;
}

.logo {
    margin-bottom: 48px;
}

.sidebar {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    transform: 0.2s;
}

.slide-out {
    position: absolute;
    left: -1000px;
}

.form {
    font-size: 20px;
    transform: 0.2s ease;
    padding: 16px;
}

.cards-layer {
    display: flex;
    align-items: flex-end !important;
}

.card-sm__container {
    display: flex;
    align-items: flex-end;
    padding: 48px 16px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.card-sm__container::-webkit-scrollbar {
    display: none;
}
  
.card-sm {
    background: #ccc;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 0 100vw 100vw rgba(0, 0, 0, 0.3), 0 16px 8px -8px rgba(0, 0, 0, 0.4);
    border-radius: 24px;
    width: 300px;
    height: 75vh;
    min-width: 300px;
    max-height: 500px;
    margin: 0 10px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    transition: 0.3s ease;
}

.card-sm:hover {
    margin: -10px 10px 0;
}

.card-sm .card__text-sm {
    opacity: 0.8;
}

.card__btn {
    color: #fff;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 176px;
    margin: -10px 0 10px;
    opacity: 0.5;
    padding: 16px;
}
  
.card__text-sm {
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 32px 0 16px;
    position: relative;
}
  
.card__text-sm::before {
    content: "";
    background: #fff;
    height: 3px;
    width: 32px;
    position: absolute;
    top: 0;
}

.card__text-lg {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    width: 100%;
    margin: 0;
}

/*...large...*/
.card-lg__container {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card-lg__container .card__text-lg {
    font-family: "Oswald", sans-serif;
    font-size: 120px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 125px;
}
.card-lg__container .card__text-md {
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    opacity: 0.5;
}
.card-lg__container .card__text-sm {
    font-size: 28px;
}
.card-lg__container .card__text-sm::before {
    width: 48px;
    height: 4px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.8);
}

.overlay img {
    height: 70%;
    margin: 0 auto;
}