#canvas {
    width: 100%;
}

#certificate {
    width: 1000px;
}

#tab {
    margin-top: 16px;
}

h1 {
    text-align: center;
    font-family: "Niconne";
}

.display-4 {
    font-size: 3.0rem !important;
}

#kit {
    display: none;
}

.header {
    margin-bottom: 40px;
    padding: 0px !important;
}